# Ignore database files
server/*.sqlite3
*.db

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore virtual environment
.venv
/server/**/migrations
/server/**/__pycache__
/server/**/**/*.pyc
/server/**/**.cpython-312.pyc
# Ignore local settings
local_settings.py

# Ignore secret key file
*.key

# Ignore IDE files
*.vscode/
*.idea/

# Ignore system files
.DS_Store
Thumbs.db
